ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li a{
    width: 100px;
    background-color: rgb(122, 81, 81);
    display: block;
    color: #000;

}

li a:hover{
    background-color: green;
    color: red;
}